
<p ></p>

<div style="text-align:right;">
  <a   class="popup-link" data-toggle="modal" (click)="openPopup()"><span style="text-align: right;">Advanced Search</span></a>
</div>

<div 
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}" style="margin-top: 65px;margin-left: 95px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
        <h4 class="modal-title" style="font-size: 12px !important;margin-left: 199px">View Bids</h4>
        <!-- <h4 style="font-size: 12px ;">test</h4> -->
     
      
        <h4 class="modal-title" style="font-size: 12px !important;margin-left: 179px;">Advanced Search</h4><br>
      
      <div class="modal-body" >

    <div class="form-inline labelheight">
        <label style="width: 167px;font-size: 14px;">Department</label>
        <!-- <input type="text" /> -->
        <select style="width: 180px !important;height: 26px;">
          <option></option>
          <option value="value1">xxxx</option>
          <option value="value2">yyy</option>
        </select>
        </div>

        <div class="form-inline labelheight">
          <label style="width: 167px;font-size: 14px;">Budget Range</label>
          <input style="height: 26px;width: 85px;" type="text" />
          <label style="font-size: 12px;">To</label>
          <input style="height: 26px;width: 85px;" type="text" />
          </div>

          <div class="form-inline labelheight">
            <label style="width: 167px;font-size: 14px;">Due Date Range</label>
            <input style="height: 26px;width: 85px;" type="text" />
            <label style="font-size: 12px;">To</label>
            <input style="height: 26px;width: 85px;" type="text" />
            </div>
          

          <!-- <div class="form-inline labelheight">
            <label style="width: 167px;font-size: 14px;">Due Date Range</label>
            <select style="width: 180px !important;">
              <option></option>
             <option value="value1">xxxx</option>
             <option value="value2">yyy</option>
            </select>
        </div> -->

        <div class="form-inline labelheight">
          <label style="width: 167px;font-size: 14px;">DBE Goal Type</label>
          <select style="width: 180px !important;">
            <option></option>
           <option value="value1">xxxx</option>
           <option value="value2">yyy</option>
          </select>
      </div>

      <div class="form-inline labelheight">
        <label style="width: 167px;font-size: 14px;">Created By User</label>
        <select style="width: 180px !important;">
          <option></option>
         <option value="value1">xxxx</option>
         <option value="value2">yyy</option>
        </select>
    </div>

    <div class="form-inline labelheight">
      <label style="width: 167px;font-size: 14px;">Custom Search field 1</label>
     <input style="height: 26px;width: 180px;" type="text" />
    </div>

  <div class="form-inline labelheight">
    <label style="width: 167px;font-size: 14px;">Custom Search field 2</label>
    <select style="width: 180px !important;">
      <option></option>
     <option value="value1">xxxx</option>
     <option value="value2">yyy</option>
    </select>
</div>

<div class="form-inline labelheight">
  <label style="width: 167px;font-size: 14px;">Custom Search field 3</label>
 <label class="switch">
  <input class="" type="checkbox" id="admin_activeid" >
  <span class="slider round"></span>
</label>

</div>

      </div>
    
      <div class="btndiv" style="margin-top: -21px;text-align: center;">
        <button type="button" class="btn btn-primary fixedwidthcls"   (click)="closePopup()" >cancel</button>
        &nbsp;&nbsp;
        <button type="button" class="btn btn-primary fixedwidthcls" value="Save" (click)="closePopup()" >Save</button>
    </div><br>
    </div>
  </div>
</div>



<table  class="table  servicecss tblnewbook"   datatable="ng"  datatable  [dtOptions] = "dtOptions" style="border: 0.5px solid white !important;border-right: 2px solid !important;">
    <thead style="text-align: left;background-color: #2F9CE2FF;font-size: 12px !important;">

        <tr>
        <!-- <th  style="display:none;width: 0px;">b</th> -->
        <th  class="fontwghtcls tblheadingnewbook">Solicitation Number</th>
        <th  class="fontwghtcls tblheadingnewbook">Title</th>
        <th  class="fontwghtcls tblheadingnewbook">Category</th>
        <th  class="fontwghtcls tblheadingnewbook"> Status</th>
         <th class="fontwghtcls tblheadingtotalnewbook">Department</th>
         <th class="fontwghtcls ">Funding Source</th>
        <th  class="fontwghtcls">Budget Amount ($)</th>
        <th  class="fontwghtcls"> Posted Date</th>
        <th  class="fontwghtcls"> Due Date</th>
        <th  class="fontwghtcls"> DBE Goal (%)</th>
        <th  class="fontwghtcls"> # of Responses</th>


      </tr>
    </thead>

    <tbody >
      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">

         <td ><a class="fontwghtcls">87654322</a></td>
        <td >Facility Safety Upgrades</td>
        <td>RFQ </td>
        <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
        <td> Closed</td>
        <td >DHS</td>
        <td >m24h111s</td>
        <td >	$26540</td>
        <td>Dec 11, 2021</td>
        <td >	Dec 30, 2021</td>
        <td >14%</td>
        <td >	34%</td>
      </tr>

      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
       <td ><a class="fontwghtcls">87654322</a></td>
       <td >Facility Safety Upgrades</td>
       <td>RFQ </td>
       <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
       <td> Closed</td>
       <td >DHS</td>
       <td >m24h111s</td>
       <td >	$26540</td>
       <td >Dec 11, 2021</td>
       <td >	Dec 30, 2021</td>
       <td >14%</td>
       <td >	34%</td>
     </tr>

     <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>
    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >yyy</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >zzzz</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >tes</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Abi</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>
    </tbody>
  </table>