<!-- <div class="container"> -->
<p style="font-weight: 500;">Bid Responses</p>

<!-- <div class="form-inline">
    <label class="labelwidth" style="font-size: 14px;">Solicitation Number</label>
    <input type="text" style="height: 23px;">
   </div> -->

   <div class="row">

    <div class="col-sm-4 labelheight">
        <div class="form-inline">
            <label class="labelwidth" style="font-size: 14px;">Solicitation Number</label>
            <input type="text" style="height: 23px;font-size: 14px;" value="87654321">
           </div>   
    </div>

    <div class="col-sm-4" style="margin-left: -60px;">
        <div class="form-inline">
            <label class="labelwidth" style="font-size: 14px;">Status</label>
            <select class="Country" style=" width: 143px;margin-left: -39px;" >
                <option value="value"></option>
                <option value="value1" ></option>
               </select>
            </div>
    </div>
    <div class="col-sm-4" >
        <div class="form-inline" style="margin-left: -100px;">
            <label class="labelwidth" style="font-size: 14px;">Vendor Name</label>
            <select style=" width: 258px;">
                <option></option>
                <option></option>
            </select>
           </div>
    </div>

   </div>

   <div class="row labelheight">
    <div class="col-sm-4">
        <div class="form-inline">
            <label class="labelwidth" style="font-size: 14px;margin-left: -5px;">Contract Number</label>
            <input type="text" style="height: 25px;">
           </div>   
    </div>
   </div>

   <div class="row">
    <div class="col-sm-6" style="border: 1px solid black !important;font-size: 14px !important;">
        <div class="labelheight" style=" margin-top: 8px;">
            <label class="labelwidth">Title</label>
            <input type="text" style="width: 295 !important;height: 25px;">
         </div>

         <div class="labelheight">
            <label class="labelwidth">Procurement Category</label>
            <select style="width: 199px;">
                <option value="option1"></option>
                <option value="option12"></option>
            </select>
         </div>

         <div class="labelheight">
            <label class="labelwidth">Department</label>
            <select style="width: 199px;">
                <option value="option1"></option>
                <option value="option12"></option>
            </select>
         </div>

         <div class="labelheight">
            <label class="labelwidth">Contract Vehicle</label>
            <select style="width: 216px;">
                <option value="option1"></option>
                <option value="option12"></option>
            </select>
         </div>

         <div class="labelheight">
            <label class="labelwidth">Posted Date</label>
            <input type="text" style="height: 25px;width: 130px;">
         </div>

         <div class="labelheight">
            <label class="labelwidth">Budget Amount ($)</label>
            <input type="text" style="height: 25px;width: 140px;">
         </div>

         <div class="labelheight">
            <label class="labelwidth">Questions Due Date</label>
            <input type="text" style="height: 25px;width: 130px;">
         </div>

         <div class="labelheight">
            <label class="labelwidth">Response Due Date</label>
            <input type="text" style="height: 25px;width: 130px;">
         </div>

         <div class="labelheight">
            <label class="labelwidth">DBE Goal (%)</label>
            <input type="text" style="height: 25px;width: 13%;">
         </div>


    </div>
    <div class="col-sm-6" >
         <p style="font-size: 14px !important;font-weight: 500">Response Documents</p>
         <a href="/" style="font-size: 14px;">Upload Documents</a>
            <table datatable [dtOptions]="dtOptions">
                <thead>
                    <tr style="font-size: 14px !important;">
                        <th>Document Type</th>
                        <th>File Name Uploaded</th>
                        <th>Uploaded Date</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 14px !important;">
                        <td>Original</td>
                        <td>Document1.jpg</td>
                        <td>2021-11-05</td>
                        <td>notes1</td>
                    </tr>
                    <tr style="font-size: 14px !important;">
                        <td>Original1</td>
                        <td>Document2.jpg</td>
                        <td>2021-11-06</td>
                        <td>notes2</td>
                    </tr>
                </tbody>
            </table>
        

    </div>
   </div>

<!-- </div> -->


