<p>bid-responses works!</p>


<table  class="table  servicecss tblnewbook"   datatable="ng"  datatable  [dtOptions] = "dtOptions" style="border: 0.5px solid white !important;border-right: 2px solid !important;">
    <thead style="text-align: left;background-color: #2F9CE2FF;font-size: 12px !important;">

        <tr>
        <!-- <th  style="display:none;width: 0px;">b</th> -->
        <th  class="fontwghtcls tblheadingnewbook">Vendor Name</th>
        <th  class="fontwghtcls tblheadingnewbook">Title</th>
        <th  class="fontwghtcls tblheadingnewbook">Category</th>
        <th  class="fontwghtcls tblheadingnewbook"> Status</th>
         <th class="fontwghtcls tblheadingtotalnewbook">Department</th>
         <th class="fontwghtcls ">Funding Source</th>
        <th  class="fontwghtcls">Budget Amount ($)</th>
        <th  class="fontwghtcls"> Posted Date</th>
        <th  class="fontwghtcls"> Due Date</th>
        <th  class="fontwghtcls"> DBE Goal (%)</th>
        <th  class="fontwghtcls"> # of Responses</th>


      </tr>
    </thead>

    <tbody >
      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">

         <td ><a class="fontwghtcls">87654322</a></td>
        <td >Facility Safety Upgrades</td>
        <td>RFQ </td>
        <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
        <td> Closed</td>
        <td >DHS</td>
        <td >m24h111s</td>
        <td >	$26540</td>
        <td>Dec 11, 2021</td>
        <td >	Dec 30, 2021</td>
        <td >14%</td>
        <td >	34%</td>
      </tr>

      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
       <td ><a class="fontwghtcls">87654322</a></td>
       <td >Facility Safety Upgrades</td>
       <td>RFQ </td>
       <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
       <td> Closed</td>
       <td >DHS</td>
       <td >m24h111s</td>
       <td >	$26540</td>
       <td >Dec 11, 2021</td>
       <td >	Dec 30, 2021</td>
       <td >14%</td>
       <td >	34%</td>
     </tr>

     <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>
    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >yyy</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >zzzz</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >tes</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>

    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Abi</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>


    <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">87654322</a></td>
      <td >Facility Safety Upgrades</td>
      <td>RFQ </td>
      <!-- <td><p class="firstnamenewbook">Abhi</p></td> -->
      <td> Closed</td>
      <td >DHS</td>
      <td >m24h111s</td>
      <td >	$26540</td>
      <td >Dec 11, 2021</td>
      <td >	Dec 30, 2021</td>
      <td >14%</td>
      <td >	34%</td>
    </tr>
    </tbody>
  </table>