<div class="card"> <!-- give it an id -->

  <div class="card-body" >
    <h5>Bid Response</h5>

    <form [formGroup]="bid_form">

                      <div >

                          <div class="row g-3 p-1">
                              <div class="col-md">
                                  <div class="form-floating">

                                          <input type="text" class="form-control" formControlName="social_no" id="social_no" >
                                  <label class="common_lbl" for="social_no">SOLICITATION NUMBER <span class="requiredfield ">  *</span></label>

                                  </div>
                                </div>
                              <div class="col-md">

                                  <div class="form-floating">
                                    <input type="text" class="form-control"  formControlName="title" id="title">



                                   <label class="common_lbl" for="title">TITLE <span class="requiredfield ">  *</span></label>



                                 <div  class="help-block text-danger">
                                    <div *ngIf="submitted && bfc.title.errors">Title is required</div>
                                  </div>
                                </div>
                                </div>
                            <div class="col-md">
                              <div class="form-floating">
                                <select class="form-select" id="bidstatus" formControlName="bidstatus" aria-label="Floating label select example" placeholder="bidstatus" >
                                  <option *ngFor="let item of bidstatus" [value]="item.BidStatusId ">
                                      {{item.BidStatusDesc}}
                                  </option>
                                </select>

                              <label class="common_lbl" for="bidstatus">BID RESPONSE STATUS <span class="requiredfield ">  *</span></label>
                              <div  class="help-block text-danger">
                                <div *ngIf="submitted && bfc.bidstatus.errors">Bid Status is required</div>
                             </div>

                              </div>
                            </div>


                          </div>
                          <accordion [collapsing]="collapsing">
                            <accordion-item >
                                <ng-template accordionTitle>
                                    <div class="flex space-x-2 ">
                                      <h6>Bid Response Documents</h6>
                                    </div>
                                  </ng-template>
                              <ng-template accordionContent>
                                
                              </ng-template>
                            </accordion-item>

                            <accordion-item >
                              <ng-template accordionTitle>
                                  <div class="flex space-x-2 ">
                                    <h6>Subcontracting Plan</h6>
                                  </div>
                                </ng-template>
                            <ng-template accordionContent>
                              
                            </ng-template>
                          </accordion-item>


                          <accordion-item >
                            <ng-template accordionTitle>
                                <div class="flex space-x-2 ">
                                  <h6>Response Notes</h6>
                                </div>
                              </ng-template>
                          <ng-template accordionContent>
                            <div class="p-1">
                              <div class="row g-3 p-1">

                                <div class="ckeditor">

                                 <ckeditor data="<p>Hello, world!</p>"></ckeditor>
                                </div>
                              </div>


                            </div>
                          </ng-template>
                        </accordion-item>
                            
                          </accordion>
                 
                 
                      </div>

      </form>
  </div>
</div>
