<p style="font-weight: 500;">Bid Responses</p>

<div class="form-inline">
  <label class="labelwidth" style="font-size: 14px;">Solicitation Number</label>
  <input type="text" style="height: 23px;">
 </div>

 <p style="margin-top: 11px; font-weight: 500;">Responses Received</p>

<table  class="table  servicecss tblnewbook"   datatable="ng"  datatable  [dtOptions] = "dtOptions" style="border: 0.5px solid white !important;border-right: 2px solid !important;">
    <thead style="text-align: left;background-color: #5e6572;font-size: 12px !important;">

        <tr>
        <!-- <th  style="display:none;width: 0px;">b</th> -->
        <th  style="color: white;" >Vendor Name </th>
        <th  style="color: white;">Vendor Type</th>
        <th   style="color: white;">Certified</th>
        <th   style="color: white;">Response Files</th>
         <th  style="color: white;">Response Received Date</th>
         <th  style="color: white;">Reviewed By Contracting Officer</th>
        <th style="color: white;">Qualified Response?</th>
        <th style="color: white;"> Demo/Oral</th>
        <th style="color: white;"> Total Score</th>
        <th style="color: white;"> Response</th>
       </tr>
    </thead>

    <tbody >
      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">

         <td ><a class="fontwghtcls">Safeguard Privacy Protection Services </a></td>
        <td >Individual</td>
        <td></td>
        <td>
          <a href="#" style="text-decoration:underline;"> Response Files(0)</a>
        </td>
        <td >05/11/2021</td>
        <td >James Watson</td>
        <td style="text-align:center;">
          <input type="checkbox" checked="">
        </td>
        <td style="text-align:center;">
          <input type="checkbox" checked="">
        </td>
        <td >	91</td>
        <td >
          <a href="#" style="text-decoration:underline;">View/Edit</a>
        </td>
      </tr>

      <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
        <td ><a class="fontwghtcls">Leroy Jethro Gibbs</a></td>
       <td >Business</td>
       <td></td>
       <td>
        <a href="#" style="text-decoration:underline;"> Response Files(1)</a>
       </td>
       <td >23/06/2021</td>
       <td >James Watson</td>
       <td style="text-align:center;">
         <input type="checkbox" checked="">
       </td>
       <td style="text-align:center;">
         <input type="checkbox" >
       </td>
       <td >72</td>
       <td >
         <a href="#" style="text-decoration:underline;" >View/Edit</a>
       </td>
     </tr>

     <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
      <td ><a class="fontwghtcls">Koios Systems & Technology LLC</a></td>
     <td >Individual</td>
     <td>S,M,V</td>
     <td>
      <a href="#" style="text-decoration:underline;"> Response Files(2)</a>
     </td>
     <td >18/01/2020</td>
     <td >Benjamin Moore </td>
     <td style="text-align:center;">
       <input type="checkbox" checked="">
     </td>
     <td style="text-align:center;">
       <input type="checkbox" >
     </td>
     <td >66</td>
     <td >
       <a href="#" style="text-decoration:underline;" >View/Edit</a>
     </td>
   </tr>

   <tr   style="border-bottom:1px solid #aeaeae;font-size: 12px;">
    <td ><a class="fontwghtcls">Lees Welding Service</a></td>
   <td >Individual</td>
   <td>O,S,M</td>
   <td>
    <a href="#" style="text-decoration:underline;"> Response Files(3)</a>
   </td>
   <td >04/04/2021</td>
   <td >James Watson</td>
   <td style="text-align:center;">
     <input type="checkbox" checked="">
   </td>
   <td style="text-align:center;">
     <input type="checkbox" >
   </td>
   <td >32</td>
   <td >
     <a href="#" style="text-decoration:underline;" >View/Edit</a>
   </td>
 </tr>

  </tbody>
  </table>

  <div class="col-sm-12" style="text-align:right">
    <br>
    <a style="text-decoration:underline;" data-toggle="tab" href="#menu3"><button type="button" id="buttoncontract" class="btn btn-primary fixedwidthcls3">Contract Award</button></a> &nbsp;&nbsp;

     <a href="#"><button type="button" class="btn btn-primary prevnextbtn" style="word-wrap: break-word;">Send Email Invitation to Vendor <br> for Demo/Oral Presentation</button> </a>&nbsp;&nbsp;

    <button type="button" class="btn btn-primary fixedwidthcls" id="nxtbidresponse">Next &gt;&gt;</button>
 </div>