
<!-- <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th>Contact Number</th>
        <th>Title</th>
      
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let group of data">
           <td>{{group.contactno}}</td>
           <td>{{group.title}}</td>
           
       </tr>
    </tbody>
  </table> -->


  <p>test</p>


  <!-- <div class="form-container">
    <form class="form-1" action="">
      <lable>Enter password
        <input class="input-1" type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
        </lable>
      <div class="progress-bar_wrap">
        <div class="progress-bar_item progress-bar_item-1"></div>
        <div class="progress-bar_item progress-bar_item-2"></div>
        <div class="progress-bar_item progress-bar_item-3"></div>
      </div>
      <span class="progress-bar_text">Password is blank</span>
    </form>
  </div>
  
  <div class="form-container">
    <form class="form-2" action="">
      <lable>Enter password
        <input class="input-2" type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
        </lable>
      <div class="progress-bar_wrap">
        <div class="progress-bar_item progress-bar_item-1"></div>
        <div class="progress-bar_item progress-bar_item-2"></div>
        <div class="progress-bar_item progress-bar_item-3"></div>
      </div>
      <span class="progress-bar_text">Password is blank</span>
    </form>
  </div>
  
  <div class="form-container">
    <form class="form-3" action="">
      <lable>Enter password
        <input class="input-3" type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
        </lable>
      <span class="progress-bar_text">Password is blank</span>
    </form>
  </div>
  
  <div class="form-container">
    <form class="form-4" action="">
      <lable>Enter password
        <input class="input-4" type="password" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
        </lable>
      <span class="progress-bar_text">Password is blank</span>
    </form>
  </div> -->


  <!-- <h1>Angular 12 Datatables Example - Laratutorials.com</h1> -->
  <h1>Angular 12 Datatables Example - Laratutorials.com</h1>
  <table  class="table  servicecss tblnewbook" *ngIf="posts"  datatable="ng"  datatable  dtOptions="dtOptions" style="border: 0.5px solid #000000 !important;border-right: 2px solid !important;">
    <thead style="color: black;text-align: left;background-color: #80808091;">

        <tr>
        <!-- <th  style="display:none;width: 0px;">b</th> -->
        <th  style="width:8%;text-align: center;" class="fontwghtcls tblheadingnewbook">Booking Id</th>
        <th style="width: 12%;text-align: center; " class="fontwghtcls tblheadingnewbook">Registration No</th>
        <th style="width:8%;text-align: center;" class="fontwghtcls tblheadingnewbook">Date</th>
        <th style="width:18%;text-align: center;" class="fontwghtcls tblheadingnewbook">Customer Name</th>
         <th style="width:10%;text-align: center;" class="fontwghtcls tblheadingtotalnewbook">Total (<span><i class="fa fa-rupee"></i></span>) </th>
         <th style="width:5%;text-align: center;" class="fontwghtcls ">Confirm</th>
        <th style="width:5%;text-align: center;" class="fontwghtcls">Reject</th>


      </tr>
    </thead>

    <tbody >
      <tr   style="border-bottom:1px solid #aeaeae;text-align: left;">

        <!-- <td  style="display:none;width: 0px;">{{b.bookingdate}}</td> -->
        <td ><a class="fontwghtcls" class="bookingid" >test</a></td>
        <td ><p class="vehiclenumbernewbook" ></p>test1</td>
        <td>
          <p class="bookingdatenewbook">08-07-2022</p>
          <!-- <input type="date" value="{{b.bookingdate}}" readonly style="width: 110px;border: none;"> -->
        </td>
        <td><p class="firstnamenewbook">Abhi</p></td>
        <!-- <td>     {{b.combo_id}}           </td>  -->
        <!-- <td>{{b.comboprice_total}}</td> -->
        <!-- <td>
          <div *ngIf="b.services != null">
          <div *ngFor="let m of  b.services.split(',');let j=index" >
            <div *ngFor="let m1 of  MasterServiceData1;" >

<span *ngIf="m === m1.service_id"><i class="fa fa-check-circle" style="color: #429c68;"></i>&nbsp; {{m1.service_name}}</span>
            </div>

          </div>
        </div>
          </td>  -->
        <!-- <td>{{b.serviceprice_total}}</td> -->
        <td >
          <p class="totalnewbook" style="text-align: right;">1000</p>

        </td>
        <!-- <td>
          <span *ngIf = "b.pickup_drop == 0;else pickDropid" >No</span>

            <ng-template  #pickDropid>
              <span>Yes</span>
            </ng-template>
          </td> -->

        <td style="text-align: center;">test</td>
          <td style="text-align: center;">1234 </td>
      </tr>

    </tbody>
  </table>