<!-- Tabs navs -->


    <div id="wrapper"> <!-- give it an id -->
      <div fxLayout="row" fxLayoutGap="16px" fxFill>
       
          <div fxFlex="80" fxFill>
              <mat-tab-group id="tab-group" mat-align-tabs="start"> <!-- give it an id -->
                   <mat-tab label="Bid List">
                   </mat-tab>
                  <mat-tab label="Create/view Bid" >
                      <div fxFlex style="padding: 16px;">
                          <div class="example-large-box mat-elevation-z4">
                              <div class="row mt-2">
                                                                         
                                  <div class="form-group  col-md-2 col-sm-2">
                                      <label class="">Solicitation Number<span class="requiredfield ">  *</span></label>
                                     
                                </div>
                                <div class="form-group col-xs-4 col-lg-3 col-md-6 col-sm-6">
                                    
                                  <input type="text" class="tradename" formControlName="description" id="description" >
                                  
                                </div>
                              </div>
                              <accordion [collapsing]="collapsing">
                                <accordion-item >
                                    <ng-template accordionTitle>
                                        <div class="flex space-x-2 ">
                                          <!-- <svg xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 24 24" width="20" height="20">
                                            <path fill="none" d="M0 0h24v24H0z" />
                                            <path
                                              d="M11 2.05V13h10.95c-.501 5.053-4.765 9-9.95 9-5.523 0-10-4.477-10-10 0-5.185 3.947-9.449 9-9.95zm2 0A10.003 10.003 0 0 1 21.95 11H13V2.05z"/>
                                          </svg> -->
                                          <h6>General Information</h6>
                                        </div>
                                      </ng-template>
                                  <ng-template accordionContent>
                                    <div class="card ">
                                        <form [formGroup]="bid_form" > 
                                            <div class="row col-12">
                                                       <div class="row col-8">
                                                            <div class="row  col-12 mt-2">
                                                                    <!-- <p class="mainheading heading">General Information</p> -->
                                                                <div class="row ">
                                                                    <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                        <label class="labelwidth">Bid Status<span class="requiredfield ">  *</span></label>
                                                                       
                                                                  </div>
                                                                  <div class="form-group col-xs-4 col-lg-3 col-md-3 col-sm-3">
                                                                        
                                                                  <select class="Country" id="bidstatus" formControlName="bidstatus"  >
                                                                  <option *ngFor="let item of bidstatus" [value]="item.BidStatusId ">
                                                                      {{item.BidStatusDesc}}
                                                                  </option>
                                                                 </select>
                                                                 
                                                                        <div  class="help-block text-danger">
                                                                           <div *ngIf="submitted && bfc.bidstatus.errors">Bid Status is required</div>
                                                                        </div>
                                                                  </div>
                                                        
                                                             
                                                                        <!-- <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                                <label class="">Number of Response<span class="requiredfield ">  *</span></label>
                                                                               
                                                                        </div>
                                                                        <div class="form-group col-xs-4 col-lg-3 col-md-2 col-sm-2">
                                                                              
                                                                                <input type="text" class=""  formControlName="no_of_response" id="no_of_response" >
                                                                                <div  class="help-block text-danger">
                                                                                    <div *ngIf="submitted && bfc.no_of_response.errors">First Name is required</div>
                                                                                </div>
                                                                        </div> -->
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                        <label class="labelwidth">Title<span class="requiredfield ">  *</span></label>
                                                                       
                                                                </div>
                                                                <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                      
                                                                    <input type="text" class="lastname"  formControlName="title" id="title" >
                                                                    <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.title.errors">Title is required</div>
                                                                    </div>
                                                                </div>
                                                        
                                                             
                                                                </div>
                                                        
                                                                <div class="row ">
                                                                     
                                                                    <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                        <label class="labelwidth">Description<span class="requiredfield ">  *</span></label>
                                                                       
                                                                  </div>
                                                                  <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                      
                                                                    <input type="text" class="tradename" formControlName="description" id="description" >
                                                                    <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.description.errors">Description is required</div>
                                                                    </div>
                                                                  </div>
                                                        
                                                        
                                                        
                                                                    
                                                                </div>
                                                        
                                                                <div class="row ">
                                                                  
                                                                    <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                        <label class="labelwidth">Opportunity Type<span class="requiredfield ">  *</span></label>
                                                                       
                                                                  </div>
                                                                  <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                        <select class="Country" formControlName="opportunity_type" id="bidstatus" (change)="inputErrorMessage('bidstatus')" >
                                                                            <option *ngFor="let item of opportunity_type_list" [value]="item.SolicitationTypeId ">
                                                                                {{item.SolicitationTypeDesc}}
                                                                            </option>
                                                                               
                                                                        </select>  
                                                                    <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.opportunity_type.errors">Opportunity Type is required</div>
                                                                    </div>
                                                                   </div>
                                                              
                                                            </div>
                                                        
                                                            
                                                            <div class="row ">
                                                                <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                    <label class="labelwidth">Category <span class="requiredfield ">  *</span> </label>
                                                        
                                                            </div>
                                                            <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                  
                                                                    <select class="Country" formControlName="category" id="category" (change)="inputErrorMessage('bidstatus')" >
                                                                            <option value="Open">Open</option>
                                                                            <option value="Closed">Closed</option>
                                                                           
                                                                    </select> 
                                                                    <div  class="help-block text-danger">
                                                                            <div *ngIf="submitted && bfc.category.errors">Category is required</div>
                                                                    </div>
                                                            </div>
                                                        
                                                              
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                <label class="labelwidth">Buying Entry <span class="requiredfield "> *</span> </label>
                                                        
                                                            </div>
                                                            <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                               
                                                                    <select class="Country" formControlName="buying_entry" id="buying_entry" (change)="inputErrorMessage('bidstatus')" >
                                                                            <option value="Open">Open</option>
                                                                            <option value="Closed">Closed</option>
                                                                           
                                                                    </select> 
                                                                  
                                                                    <div  class="help-block text-danger">
                                                                            <div *ngIf="submitted && bfc.buying_entry.errors">Buying Entry is required</div>
                                                                   </div>
                                                            </div>
                                                        
                                                        </div>
                                                        <div class="row ">
                                                            <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                <label class="labelwidth">Set Aside<span class="requiredfield "> *</span> </label>
                                                        
                                                            </div>
                                                            <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                               
                                                                    <select class="Country" formControlName="set_aside" id="set_aside" (change)="inputErrorMessage('bidstatus')" >
                                                                        <option *ngFor="let item of aside_type_list" [value]="item.SetAsideTypeId ">
                                                                            {{item.SetAsideTypeDesc}}
                                                                        </option>
                                                                    </select>                   
                                                                    <div  class="help-block text-danger">
                                                                            <div *ngIf="submitted && bfc.set_aside.errors">Set Aside is required</div>
                                                                   </div>
                                                            </div>
                                                        
                                                        </div>
                                                        <div class="row ">
                                                                <div class="form-group  col-md-2 col-sm-2">
                                                                    <label class="labelwidth">Contract Officer<span class="requiredfield "> *</span> </label>
                                                            
                                                                </div>
                                                                <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                   
                                                                        <select class="Country" formControlName="contrcat_officer" id="contrcat_officer" (change)="inputErrorMessage('bidstatus')" >
                                                                            <option *ngFor="let item of contract_officer_list" [value]="item.JobTitleId ">
                                                                                {{item.JobTitleDesc}}
                                                                            </option>
                                                                               
                                                                        </select>                   
                                                                        <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.set_aside.errors">Contract Officer is required</div>
                                                                       </div>
                                                                </div>
                                                            
                                                              
                                                            </div>
                                                            <div class="row">
                                                                    <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                        <label class="labelwidth"> Officer Phone<span class="requiredfield "> *</span> </label>
                                                                
                                                                    </div>
                                                                    <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                       
                                                                            <input type="text" class="co_officer_phone" formControlName="co_officer_phone" id="co_officer_phone" >
                                             
                                                                            <div  class="help-block text-danger">
                                                                                    <div *ngIf="submitted && bfc.co_officer_phone.errors">Contract Officer Phone is required</div>
                                                                           </div>
                                                                    </div>
                                                                
                                                                 
                                                                </div>
                                                                <div class="row">
                                                                        <div class="form-group col-xs-4 col-md-2 col-sm-2">
                                                                            <label class="labelwidth">Officer Email<span class="requiredfield "> *</span> </label>
                                                                    
                                                                        </div>
                                                                        <div class="form-group col-xs-4 col-lg-3 col-md-4 col-sm-4">
                                                                                <input type="text" class="co_officer_email" formControlName="co_officer_phone" id="co_officer_phone" >
                                              
                                                                                <div  class="help-block text-danger">
                                                                                        <div *ngIf="submitted && bfc.co_officer_phone.errors">Contract Officer Email is required</div>
                                                                               </div>
                                                                        </div>
                                                                    
                                                                     
                                                                    </div>
                                                    
                                                            </div>
                                                        </div>
                                                        <div class="row col-4">
                                                                <div class="row col-12 ">
                                                                       
                                                                    <div class="row mt-1">
                                                                        <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                            <label class="labelwidth">Funding Source<span class="requiredfield ">  *</span></label>
                                                                           
                                                                      </div>
                                                                      <div class="form-group col-xs-4  col-md-6 col-sm-6">
                                                                          <input type="text" class="fund_source" formControlName="fund_source" id="fund_source" >
                            
                                                                            <div  class="help-block text-danger">
                                                                               <div *ngIf="submitted && bfc.fund_source_resource.errors">Funding Source is required</div>
                                                                            </div>
                                                                      </div>
                                                            
                                                                 
                                                                      
                                                                    </div>
                                                                    <div class="row ">
                                                                      <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                              <label class="labelwidth">Contract Vehicle<span class="requiredfield ">  *</span></label>
                                                                            
                                                                      </div>
                                                                      <div class="form-group col-xs-4  col-md-6 col-sm-6">
                                                                        <select class="Country" id="contract_vehicle" formControlName="contract_vehicle"  >
                                                                          <option *ngFor="let item of contractVehicle" [value]="item.ContractVehicleId ">
                                                                              {{item.ContractVehicleDesc}}
                                                                          </option>
                                                                         </select>
                                                                          <div  class="help-block text-danger">
                                                                                      <div *ngIf="submitted && bfc.contract_vehicle.errors">Contract Vehicle is required</div>
                                                                          </div>
                                                                      </div>
                                                                    </div>
                                                            
                                                                    <div class="row ">
                                                                         
                                                                        <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                            <label class="labelwidth">Budget Amount ($)<span class="requiredfield ">  *</span></label>
                                                                           
                                                                      </div>
                                                                      <div class="form-group col-xs-4  col-md-6 col-sm-6">
                                                                          
                                                                        <input type="text" class="tradename" formControlName="budget_amount" id="budget_amount" >
                                                                        <div  class="help-block text-danger">
                                                                                    <div *ngIf="submitted && bfc.budget_amount.errors">Budget Amount is required</div>
                                                                        </div>
                                                                      </div>
                                                            
                                                            
                                                            
                                                                        
                                                                    </div>
                                                            
                                                                    <div class="row ">
                                                                      
                                                                        <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                            <label class="labelwidth">Posted Date<span class="requiredfield ">  *</span></label>
                                                                           
                                                                      </div>
                                                                      <div class="form-group  col-md-6 col-sm-6">
                                                                          <input type="date" class="posted_date" formControlName="posted_date" id="posted_date" >
                            
                                                                        <div  class="help-block text-danger">
                                                                                    <div *ngIf="submitted && bfc.posted_date.errors">Posted Date is required</div>
                                                                        </div>
                                                                       </div>
                                                                  
                                                                </div>
                                                            
                                                                
                                                                <div class="row ">
                                                                    <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                        <label class="labelwidth">Question Due Date <span class="requiredfield ">  *</span> </label>
                                                            
                                                                </div>
                                                                <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                    <input type="date" class="question_due_date" formControlName="question_due_date" id="question_due_date" >
                            
                                                              
                                                                        <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.question_due_date.errors">Question Due Date is required</div>
                                                                        </div>
                                                                </div>
                                                            
                                                                  
                                                            </div>
                                                            
                                                            <div class="row">
                                                                <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                    <label class="labelwidth">Response Due Date<span class="requiredfield ">*</span> </label>
                                                            
                                                                </div>
                                                                <div class="form-group col-xs-4  col-md-6 col-sm-6">
                                                                    <input type="date" class="response_due_date" formControlName="response_due_date" id="question_due_date" >
                            
                                                                      
                                                                        <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.StartDate.errors">Response Due Date is required</div>
                                                                       </div>
                                                                </div>
                                                            
                                                            </div>
                                                            <div class="row ">
                                                                <div class="form-group col-xs-4 col-md-6 col-sm-6">
                                                                    <label class="labelwidth">DBE Goal (%)<span class="requiredfield "> *</span> </label>
                                                            
                                                                </div>
                                                                <div class="form-group col-xs-4  col-md-6 col-sm-6">
                                                                    <input type="text" class="dbe_goal" formControlName="dbe_goal" id="dbe_goal" >
                            
                                                                                    
                                                                        <div  class="help-block text-danger">
                                                                                <div *ngIf="submitted && bfc.dbe_goal.errors">DBE Goal (%) is required</div>
                                                                       </div>
                                                                </div>
                                                            
                                                            </div>
                                                           
                                                             
                                                                   
                                                                </div>
                                                        </div>
                                            </div>
                                       
                                        </form>
                                        <input type="button"   class="btn btn-primary fixedwidthcls" (click)="generalsave()"  value="Update" />  
                            
                                    </div>
                                  </ng-template>
                                </accordion-item>
                                <!-- <accordion-item>
                                  <ng-template accordionHeader let-toggle="toggle">
                                    <div class="row">
                                      <div class="col-sm-8">
                                          <p> Custom Header <span class="text-xs text-gray-700">(  toggle button)</span>
                                          </p>
                                      </div>
                            
                                      <div class="col-sm-4">
                                          <button (click)="toggle()" class="accordion__toggle-btn"> <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 24 24" width="24" height="24">
                                      <path fill="none" d="M0 0h24v24H0z" />
                                      <path d="M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z"/>
                                    </svg></button>
                                          
                                      </div>
                                    </div>
                                    <div class="flex items-center justify-between px-4 h-12 bg-purple-200">
                                     
                                      <div class="flex space-x-2">
                                      </div>
                                    </div>
                                  </ng-template>
                                  <ng-template accordionContent>
                                      <div class="p-4">
                                        This is a <strong>complete custom header</strong> implementation. The
                                        whole header section can be customized to you liking. Toggle method
                                        will be exposed which can be used to open/close the section.
                                      </div>
                                  </ng-template>
                                </accordion-item> -->
                                <accordion-item>
                                    <ng-template accordionTitle>
                                      <div class="flex space-x-2">
                                        <!-- <svg xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 24 24" width="20" height="20">
                                          <path fill="none" d="M0 0h24v24H0z" />
                                          <path
                                            d="M11 2.05V13h10.95c-.501 5.053-4.765 9-9.95 9-5.523 0-10-4.477-10-10 0-5.185 3.947-9.449 9-9.95zm2 0A10.003 10.003 0 0 1 21.95 11H13V2.05z"/>
                                        </svg> -->
                                        <h6>Document Upload</h6>
                                      </div>
                                    </ng-template>
                                    <ng-template accordionContent>
                                        <div class="p-4">
                                          This is a simple implementation where the
                                          <strong>Document Upload part</strong>. 
                                        </div>
                                    </ng-template>
                                  </accordion-item>
                                <accordion-item>
                                  <ng-template accordionTitle>
                                    <div class="flex space-x-2">
                                      <!-- <svg xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" width="20" height="20">
                                        <path fill="none" d="M0 0h24v24H0z" />
                                        <path
                                          d="M11 2.05V13h10.95c-.501 5.053-4.765 9-9.95 9-5.523 0-10-4.477-10-10 0-5.185 3.947-9.449 9-9.95zm2 0A10.003 10.003 0 0 1 21.95 11H13V2.05z"/>
                                      </svg> -->
                                      <h6>Schedule: Contract Line Items</h6>
                                    </div>
                                  </ng-template>
                                  <ng-template accordionContent>
                                      <div class="p-4">
                                          This is a simple implementation where the
                                          <strong>Contract Line Items</strong>. 
                                        </div>
                                  </ng-template>
                                </accordion-item>
                                <accordion-item title="Vendors Matching" [disabled]="true">
                                  <ng-template> 
                                  <div class="flex space-x-2">
                                       
                                        <h6>Vendors Matching</h6>
                                      </div>
                                    </ng-template>
                                  <ng-template accordionContent>
                                      <div class="p-4">
                                          This is a simple implementation where the
                                          <strong>Vendors Matching Items</strong>. 
                                        </div>
                                  </ng-template>
                                </accordion-item>
                              </accordion>
                            </div>
                      </div>
                  </mat-tab>
                  <mat-tab label="Bid Response">
                  
                  </mat-tab>
              </mat-tab-group>
          </div>
      </div>
  </div>





<!-- Tabs content -->